body {
    background: #012340;
}

.titulo {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 2.5em;
    color: #FFFF;
    padding: 35px;
  
}

main {
    
}

.conteiner-img {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px; 
}
.conteiner {
    display: flex;
    justify-content: space-evenly;
}

.card-header {
    display: flex;
    max-width: 900px;
    min-width: 200px;
    width: 500px;
    height: 330px;
    margin-top: 100px;
    transition: 1s;
    box-shadow:  5px 5px 5px rgba(0, 0, 0, 0.603);
}
.card-header:hover {
    transform: scale(1.1);
}

img {
    width: 100%;
}

.card-body {
    text-align: center;
    max-width: 500px;
    min-width: 200px;
    width: 500px;
    padding-top: 30px;
    height: 50px;
    transition: 1s;
    box-shadow:  5px 5px 10px  rgba(0, 0, 0, 0.644);
}
.card-body:hover {
    transform: scale(1.1);
}

.card-body-a {
    color: white;
    font-family: sans-serif;
    font-size: 1.3em;
    text-decoration: none;
}

.one-piece {
    background-color: rgba(255, 0, 0, 0.685);
    border: 1px solid ;
    border-radius: 9px;
}

.star-wars {
    background-color: black;
    border: 1px solid;
    border-radius: 9px;
}

.pokemon {
    background-color: rgba(255, 255, 0, 0.829);
    border: 1px solid;
    border-radius: 9px; 
}

@media (max-width: 960px){
    img {
        width: 70vw;
    }
    .conteiner-img {
        display: block;
        justify-content: space-evenly;
        margin-bottom: 20px; 
    }
    .card-header {
        display: block;
        max-width: 900px;
        min-width: 320px;
        width: 300px;
        height: 350px;
        margin-right: 50px;
      
    }
}