body {
    background: #012340;
}

.titulo {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-size: 2.5em;
    color: #FFFF;
    padding: 35px; 
}

main {
    max-width: 1920px;
}

.conteiner-img {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px; 
    width: 100%;
}
.conteiner {
    display: flex;
    justify-content: space-evenly;
}

.card-header {
    display: flex;
    max-width: 900px;
    min-width: 200px;
    width: 500px;
    height: 330px;
    margin-top: 100px;
    transition: 1s;
}
.card-header:hover {
    transform: scale(1.1);
}

img {
    width: 100%;

    box-shadow:  5px 5px 10px rgba(0, 0, 0, 0.644);

}

.card-body {
    text-align: center;
    max-width: 500px;
    min-width: 200px;
    width: 500px;
    padding-top: 30px;
    height: 50px;
    margin-top: 80px;
    transition: 1s;
}
.card-body:hover {
    transform: scale(1.1);
}

.card-body-a {
    color: white;
    font-family: sans-serif;
    font-size: 1.3em;
    text-decoration: none;
}

.one-piece {
    background-color: rgba(255, 0, 0, 0.685);
    border: 1px solid ;
    border-radius: 9px;
}

.star-wars {
    background-color: black;
    border: 1px solid;
    border-radius: 9px;
}

.pokemon {
    background-color: rgba(255, 255, 0, 0.829);
    border: 1px solid;
    border-radius: 9px; 
}

@media (max-width: 1568px) {
    img {
        width: 30vw;
    }
    .conteiner-img {
        width: 95vw;
        margin: auto
    }
   .conteiner {
        display: flex;
        width: 95vw;
        margin: auto
   } 
   .card-body {
        display: block;
        width: 400px;
        padding-top: 30px;
        height: 50px; 
        margin:  80px auto;
    }
}

@media (max-width: 1300px) {
    img {
        width: 27vw;
    }
    .conteiner-img {
        width: 95vw;
        margin: auto
    }

    .conteiner {
        display: flex;
        width: 95vw;
        margin: auto
   } 
   .card-body {
        display: block;
        width: 350px;
        padding-top: 30px;
        height: 50px; 
        margin:  80px auto;
    }
}


@media (max-width: 1150px){
    img {
        width: 100%;
        
    }
    .conteiner-img {
        display: block; 
    }
    .card-header {
        display: block;
        max-width: 900px;
        min-width: 320px;
        width: 600px;
        height: 450px; 
        margin: auto;
    }

    .conteiner {
        display: block;
    }
    .card-body {
        display: block;
        width: 70%;
        padding-top: 30px;
        height: 50px; 
        margin:  20px auto;
    }

}





@media (max-width: 960px){
    .titulo {
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        font-size: 2em;
        color: #FFFF;
        padding: 35px; 
    }
    img {
        width: 100%;
    }
    .conteiner-img {
        display: block; 
    }
    .card-header {
        display: block;
        max-width: 900px;
        min-width: 320px;
        width: 300px;
        height: 280px; 
       
    }
    .conteiner {
        display: block;
    }
    .card-body {
        display: block;
        width: 70%;
        padding-top: 30px;
        height: 50px; 
        margin:  0px auto 30px;
    }
}