body {
    background: #012340;
}

.titulo {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
    color: #FFFF;
    padding: 50px;
    padding-bottom: 150px;
}

.conteiner-img {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px; 
}
.conteiner {
    display: flex;
    justify-content: space-evenly;
}

.card-header {
    display: flex;
    max-width: 500px;
    min-width: 200px;
    width: 500px;
    height: 330px;
}
.card-body {
    text-align: center;
    max-width: 500px;
    min-width: 200px;
    width: 500px;
    padding-top: 30px;
    height: 50px;
    border: 1px solid white;
    border-radius: 5px;
}

.card-body-a {
    color: white;
    font-family: sans-serif;
    font-size: 1.3em;
    text-decoration: none;
}